body {
background: #fae219;
margin: 0 auto;
}

h1 {
text-align: center;
}

header {
height: 200px;
background-image: url('images/pingouin2.svg'), url('images/champagne_debouche.svg');
background-repeat: no-repeat;
background-position: -17px -60px, 950px -80px;
background-size: 20%;
}

header img {
    width: 10%;
    position: absolute;
    top: 20px;
    left: 20px;
    }

    #green-first, #green-last {
    background:  #51604d;
    }
#add {
background: red;
display: inline;
}

#ul-liste li span {
	background: grey;
	float:right;
}

.red {
    color: red;
    font-size: 24px;
}

.hasard_space {
	width: 100%;
}

.button {
background: red;
}
